 <div class="list__container-all">
     {{#each this}}
        <a class="hostels-card" href="/hostel/{{hotel_id}}">
            <img class="hostel-card__image" src="{{image}}" alt="image">
            <div class="hostel-card__text hostel-card__text--italic">{{name}}</div>
            <div class="hostel-card__text-cnt">
                <p class="hostel-card__text hostel-card__text--blue">{{location}}
                <p class="hostel-card__text hostel-card__text--red">{{rating}}/5
            </div>
        </a>
     {{/each}}
 </div>
