{{#if isError}}
    <div class="message-popup__message message-popup__error" id="id{{counter}}">{{message}}</div>
{{else}}
    <div class="message-popup__message message-popup__accept" id="id{{counter}}">{{message}}</div>
{{/if}}
