<p class="hostel__title hostel__title--orange">{{name}}</p>
<p class="hostel__star hostel__title hostel__title--orange">
    {{#if rating}}
    Рейтинг: {{rating}}
    {{else}}
    Поставьте оценку первым!
    {{/if}}
</p>
<p class="hostel__title hostel__text--blue">{{countComments}} оценок</p>
<p class="hostel__title hostel__title--orange">{{location}}</p>
<p class="hostel__text hostel__text--blue">
    {{description}}
</p>