<div class="hostel__card">
    <p class="hostel__title hostel__title--orange">{{hostel.name}}</p>
    {{#if isAuth}}
        <button class="hostel__button-round" id="wishlist-button">Добавить в избранное</button>
    {{/if}}
    {{#if wishlists}}
        <p class="hostel__title hostel__title--blue">
            <nobr class="hostel__wishlist-label">Этот отель уже есть в папках:</nobr>
            {{#each wishlists}}
                <a class="hostel__wishlist" href="/wishlist?id={{wishlist_id}}">{{name}}</a>
            {{/each}}
            {{#if moreThan3Wishlists}}
                <nobr class="hostel__wishlist-label">и т.д.</nobr>
            {{/if}}
        </p>
    {{/if}}
    <p class="hostel__star hostel__title hostel__title--orange">
        {{#if hostel.rating}}
        Рейтинг: {{hostel.rating}}
        {{else}}
        Поставьте оценку первым!
        {{/if}}
    </p>
    <p class="hostel__title hostel__text--blue">Количество комментариев: {{hostel.countComments}}</p>
    <p class="hostel__title hostel__title--orange">{{hostel.location}}</p>
    <button class="hostel__button-round" id="map-button">Показать на карте</button>
    <p class="hostel__text hostel__text--blue">
        {{hostel.description}}
    </p>
</div>
