<div class="hostel__card">
    <p class="hostel__title hostel__title--orange">{{hostel.name}}</p>
    {{#if isAuth}}
        <button class="hostel__button-round" id="wishlist-button">Добавить в избранное</button>
    {{/if}}
    <p class="hostel__title hostel__title--blue">
        <nobr class="hostel__wishlist-label">Этот отель уже есть в папках:</nobr>
        <a class="hostel__wishlist" href="/wishlist/1">KEK</a>
        <a class="hostel__wishlist">Отели в поездку</a>
        <a class="hostel__wishlist">Владик</a>
        <nobr class="hostel__wishlist-label">и т.д.</nobr>
    </p>
    <p class="hostel__star hostel__title hostel__title--orange">
        {{#if hostel.rating}}
        Рейтинг: {{hostel.rating}}
        {{else}}
        Поставьте оценку первым!
        {{/if}}
    </p>
    <p class="hostel__title hostel__text--blue">Количество комментариев: {{hostel.countComments}}</p>
    <p class="hostel__title hostel__title--orange">{{hostel.location}}</p>
    <button class="hostel__button-round" id="map-button">Показать на карте</button>
    <p class="hostel__text hostel__text--blue">
        {{hostel.description}}
    </p>
</div>
