<ul class="menu-main">
    <li>
        <a href="{{el1.ref}}" id="nav1">{{el1.text}}</a>
    </li>
    <li>
        <a href="{{el2.ref}}" id="nav2">{{el2.text}}</a>
    </li>
    <li>
        <a href="{{el3.ref}}" id="nav3">{{el3.text}}</a>
    </li>
</ul>