{{#if isAuth}}
<div class="hostel__textarea-container">
    <div>
    <p class="hostel__title hostel__text--blue">Ваша оценка - {{#if comment}}{{comment.rating}} Новая оценка -{{/if}}
        <select class="hostel__select" id="select-rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
</div>
<form class="hostel__comment-container">
    {{#if textarea}}
    <textarea id="comment-textarea" class="hostel__textarea" placeholder="Оставьте свой комментарий!">{{#if comment}}{{comment.message}}{{/if}}</textarea>
    {{else}}
    <div class="hostel__comment-card">{{#if comment}}{{comment.message}}{{/if}}</div>
    {{/if}}
    {{#if comment}}
        <button class="hostel__button-round hostel__button--position-center" id="button-comment">Изменить</button>
    {{else}}
        <button class="hostel__button-round hostel__button--position-center" id="button-comment">Отправить</button>
    {{/if}}
</form>
</div>
{{else}}
<div class="hostel__message-container">
    <p class="hostel__title hostel__text--blue">
    Чтобы оставлять комментарии, нужно
    <a href="/signin" class="hostel__title hostel__text--orange">авторизоваться</a>
    </p>
</div>
{{/if}}
