<ul class="menu-main">
    <li>
        <a href="{{el1.ref}}">{{el1.text}}</a>
    </li>
    <li>
        <a href="{{el2.ref}}">{{el2.text}}</a>
    </li>
    <li>
        <a href="{{el3.ref}}">{{el3.text}}</a>
    </li>
</ul>